.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  color: var(--color-text);
  position: relative;

  & > *:first-child {
    align-self: flex-end;
  }

  & > &:nth-child(2) {
    align-self: center;
  }

  & > *:last-child {
    align-self: flex-start;
  }

  &::before {
    content: "";
    display: block;
    z-index: -1;

    width: calc(36.25 * var(--space-1));
    height: calc(36.25 * var(--space-1));
    background-color: var(--color-accent);
    border-radius: 48px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    text-align: center;
  }
}
