.section {
  height: 900px;
  background-color: color(--color-light);
  padding-top: 200px;

  .content {
    display: flex;
    gap: var(--space-15);
    justify-content: center;
    margin-bottom: var(--space-15);
  }
}
