.container {
  display: flex;
  width: calc(62.5 * var(--space-1));
  flex-direction: column;
  gap: var(--space-4);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  .email {
    display: flex;
    align-items: center;
    gap: var(--space-1);
  }
}
