.section {
  height: 640px;
  background-image: url("/src/assets/home/intro.webp");
  background-size: cover;

  div {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    position: absolute;
    top: 215px;
    left: 95px;

    h1 {
      color: var(--color-primary);
    }
  }
}
