@import "/src/global.scss";

.header {
  background-color: var(--color-primary);
  padding: var(--space-2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-7);

  color: var(--color-light);

  .email {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .hamburger {
    display: none;
  }

  @include small-device {
    justify-content: space-around;

    p {
      line-height: var(--space-3);
    }

    .hamburger {
      display: block;
    }
  }
}
