@import "/src/global.scss";

.nav {
  @include small-device {
    display: none;
  }

  padding: var(--space-3) var(--space-12);
  background-color: var(--color-light);

  position: relative;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-6);

    li:first-child {
      margin-right: auto;
    }

    a {
      color: var(--color-dark);
      text-decoration: none;
      font-weight: var(--font-weight-semi-bold);
    }

    li:last-child a {
      color: var(--color-primary);
    }
  }
}
