.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-xxxl);

  position: sticky;
  top: 0;

  height: 48px;
  background-color: var(--color-primary);
  color: var(--color-light);
}

.email {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}
