.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-14) var(--space-11) var(--space-3) var(--space-3);

  height: calc(47.5 * var(--space-1));
  background-color: var(--color-dark);
  color: var(--color-light);

  .icons {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: var(--space-6);
  }

  .credits {
    font-size: var(--font-size-small);
  }
}
