// Variables
:root {
  // Spaces
  --space-05: 4px;
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
  --space-7: 56px;
  --space-8: 64px;
  --space-9: 72px;
  --space-10: 80px;
  --space-11: 88px;
  --space-12: 96px;
  --space-13: 104px;
  --space-14: 112px;
  --space-15: 120px;

  // Colors
  --color-primary: #6c39be;
  --color-secondary: #f2545b;
  --color-success: #6fd8bc;
  --color-dark: #303030;
  --color-text: #5c5c5c;
  --color-accent: #f6f7ff;
  --color-light: #fdfefe;

  // Font weights (https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-weight)
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  // Font sizes
  --font-size-h1: 56px;
  --font-size-h2: 40px;
  --font-size-h3: 32px;
  --font-size-h4: 24px;
  --font-size-regular: 16px;
  --font-size-small: 12px;
}

// Reset certain defaults
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}

// Setup font
body {
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
}
h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
}
h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h2);
}
h3 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h3);
}
h4 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-h4);
}
h5,
h6 {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-regular);
}
p,
span {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-regular);
  line-height: 24px;
}
a {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-regular);
}
