.div {
  position: relative;

  img {
    border-radius: 50%;
    width: calc(37 * var(--space-1));
    height: calc(37 * var(--space-1));
  }

  &::before {
    content: "";
    display: block;
    z-index: -1;

    width: calc(64.625 * var(--space-1));
    height: calc(64.625 * var(--space-1));
    background-color: var(--color-light);
    border: var(--space-3) solid var(--color-primary);
    border-radius: 50%;

    position: absolute;
    top: calc(-18.75 * var(--space-1));
    left: calc(-48 * var(--space-1));
  }
}
